<footer class="bg-dark text-light pt-4 pb-2 mt-5 border-top">
  <div class="container">
    <div class="row">

      <!-- About Project -->
      <div class="col-md-4 mb-3">
        <h5 class="text-uppercase">About TechGear</h5>
        <p>
          TechGear is a microservices-based e-commerce platform built with passion by a team of engineering students.

        </p>
      </div>

      <!-- Team Info -->
      <div class="col-md-4 mb-3">
        <h5 class="text-uppercase">Our Team</h5>
        <ul class="list-unstyled">
          <li>Hamza</li>
          <li>Amine</li>
          <li>Oussema</li>
          <li>Ali</li>
        </ul>
      </div>

      <!-- University Info -->
      <div class="col-md-4 mb-3">
        <h5 class="text-uppercase">University</h5>
        <p>ESPRIT - École Supérieure Privée d'Ingénierie et de Technologie, Tunisia</p>
        <div>
          <a href="https://esprit.tn" target="_blank" class="text-light me-2">
            <i class="fa fa-university fa-lg"></i>
          </a>
          <a href="#" class="text-light me-2">
            <i class="fa fa-envelope fa-lg"></i>
          </a>
          <a href="https://github.com/TechGearZone" target="_blank" class="text-light">
            <i class="fa fa-github fa-lg"></i>
          </a>
        </div>
      </div>

    </div>
    <hr class="bg-light">
    <div class="text-center">
      <small>&copy; 2025 TechGear Team | Built with ❤️ at ESPRIT</small>
    </div>
  </div>
</footer>