<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm px-3">
    <div class="container-fluid d-flex justify-content-between align-items-center">
      <!-- Left: Logo + Nav Links -->
      <div class="d-flex align-items-center">
        <i class="fa fa-truck" style="font-size: 40px;"></i>
        <strong class="ms-2 text-white" style="font-size: 30px;">TechGear</strong>

        <div class="ms-4 d-none d-md-block">
          <a routerLink="/" class="text-white d-inline nav-link-custom">Home</a>
          <a routerLink="/products" class="text-white d-inline nav-link-custom">Products</a>
          <a routerLink="/delivery" class="text-white d-inline nav-link-custom">Delivery</a>
          <a routerLink="/support" class="text-white d-inline nav-link-custom">Support</a>
        </div>

      </div>

      <!-- Right: Search + Cart -->
      <div class="d-flex align-items-center">
        <div class="input-group me-3">
          <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)"
            placeholder="Search...">
          <span class="input-group-text bg-white"><i class="fa fa-search text-primary"></i></span>
        </div>

        <button routerLink="/cart" class="btn btn-primary position-relative">
          <i class="fa fa-shopping-cart" style="font-size: 30px;"></i>
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
            style="font-size: 11px;">
            {{totalItem}}
          </span>
        </button>
      </div>
    </div>
  </nav>
</header>