<!-- src/app/app.component.html -->
<div class="main-container">
  <h1 class="mat-display-1">Gestion des Livraisons</h1>

  <!-- Liens de navigation -->
  <nav>
    <a routerLink="/drivers" routerLinkActive="active">Liste des Livreurs</a>
    <a routerLink="/deliveries" routerLinkActive="active">Liste des Livraisons</a>
    <a routerLink="/create-delivery" routerLinkActive="active">Créer une Livraison</a>
    <a routerLink="/create-driver" routerLinkActive="active">Créer un Livreur</a>
    <a routerLink="/track-delivery" routerLinkActive="active">Suivi de Livraison</a>
  </nav>

  <router-outlet></router-outlet>
</div>
